// ----------------------------------------------
// Dashboard2 Style
// ----------------------------------------------

.welcome-bg-img {
    position: absolute;
    right: 0;
    bottom: 0;

    @include media-breakpoint-down(md) {
        position: relative;
    }
}